<!DOCTYPE html>
<html lang="en">
    
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

    <body>
        
        <div>
            <ul class="nav justify-content-end shadow-lg p-3 mb-5 bg-white rounded">
                <li class="nav-item">
                    <a class="nav-link active" href="welcomepage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="magazinpage">Magazin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registerpage">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="loginpage">Login</a>
                </li>
            </ul>
        </div>

    
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img style="height: 200px" src="crossover1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">LX-250</h5>
                            <p class="card-text">Procesor crossover 2-cai stero sau 3-cai mono cu iesire pentru subwoofer.<br>Pret: 1000lei</p>
                            <a href="#" class="btn btn-primary">Cumpara</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img style="height: 200px" src="crossover2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">LX-300</h5>
                            <p class="card-text">Procesor crossover cu 2/3-cai stereo sau 4-cai mono si cu limitatoare integrate.<br>Pret: 1500lei</p>
                            <a href="#" class="btn btn-primary">Cumpara</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                    <img style="height: 200px" src="crossover3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">HT-147</h5>
                            <p class="card-text">Crossover cu iesire de subwoofer mono, diverse optiuni de control, intrari/iesiri XLR.<br>Pret: 2000lei</p>
                            <a href="#" class="btn btn-primary">Cumpara</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

  

    </body>

</html>