<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

    <body>
        
        <div>
            <ul class="nav justify-content-end shadow-lg p-3 mb-5 bg-white rounded">
                <li class="nav-item">
                    <a class="nav-link active" href="welcomepage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="magazinpage">Magazin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registerpage">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="loginpage">Login</a>
                </li>
            </ul>
        </div>

    
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img style="height: 200px" src="equalizer1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Z-200</h5>
                            <p class="card-text">Raport semnal/zgomot:<br>94 dB la +4 dBu, 22 Hz la 22 kHz. Releu auto-bypass și fail-safe.<br>Pret: 2000lei</p>
                            <a href="#" class="btn btn-primary">Cumpara</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img style="height: 200px" src="equalizer2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Z-300</h5>
                            <p class="card-text">Output dedicat pentru subwoofer cu frecvența crossover ajustabilă. Sistem feedback detection.<br>Pret: 1500lei</p>
                            <a href="#" class="btn btn-primary">Cumpara</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                    <img style="height: 200px" src="equalizer3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Z-400</h5>
                            <p class="card-text">Egalizator grafic/parametric digital High-Definition. Intrări și ieșiri servo-balansate.<br>Pret: 1700lei</p>
                            <a href="#" class="btn btn-primary">Cumpara</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

  

    </body>

</html>